{% extends 'base.html.twig' %}

{% block title %}
	Kundendaten bearbeiten
{% endblock %}

{% block body %}

		<div class='container form-floating d-flex '>
			<br>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
{% endblock %}
