{% extends 'base.html.twig' %}

{% block title %}Hello KundenController!
{% endblock %}

{% block body %}

	<main class="form-signin w-100 m-auto">
		<div class='container'>
			<br>

			<form>
				<div class="form-floating">
					<input type="email" class="form-control" id="fkursname" placeholder="Tragen Sie bitte der Kursname ein.">
					<label for="floatingInput">Kurs</label>
				</div>
				<br>
				<div class="form-floating">
					<input type="integer" class="form-control" id="kursdauer" placeholder="Wie lange dauert der Kurs?">
					<label for="floatingPassword">Kursdauer</label>
				</div>
				<br>
				<div class="form-floating">
					<textarea class="form-control" id="kursinfo" placeholder="Kursinfo"></textarea>
					<label for="floatingPassword">Kursinfo</label>
				</div>


				<button class="btn btn-success w-100 py-2" type="submit">Speichern</button>
				<p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
			</form>
		</div>
	</main>
{% endblock %}
